/* Custom CSS */
/*--------------------PRELOADER STYLES--------------------*/

.preloader {
  background: linear-gradient(to right, #000000, #3b3b3b);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.brand-logo img {
  width: 20%;
}

.brand-logo h1 {
  font-size: 5vw;
  color: #ffffff;
  z-index: 9999;
}

.preloader.fade-out {
  transition: opacity 2s ease-in-out;
}

.pet-card {
  background: linear-gradient(to bottom, #f3f3f3, #ffffff);
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.pet-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.pet-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pet-card p {
  margin-bottom: 5px;
  font-size: 16px;
}

.pet-profile {
  background: linear-gradient(to bottom, #ffffff, #f3f3f3);
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.pet-profile img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.pet-profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pet-profile p {
  margin-bottom: 5px;
  font-size: 18px;
}

.pet-note {
  margin-top: 8vh;
  font-size: 20px;
}

.gallery-title {
  text-align: center;
}

.gallery-image {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

/* Hide dropdown menu by default */
.dropdown-menu {
  display: none;
}

/* Show dropdown menu on hover */
#hoverDropdown:hover .dropdown-menu {
  display: block;
}

.gallery-title {
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 15px;
}

.gallery-image {
  width: 100%;
  height: 200px;
  /* Set a fixed height for uniformity */
  object-fit: cover;
  /* Maintain aspect ratio */
  border-radius: 16px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.container {
  margin-top: 3vh;
}

.introNote {
  padding: 0 15px;
  /* Adjust padding for better readability on mobile */
}

.introNote p {
  font-size: 1.6em;
  /* Default font size */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .introNote p {
    font-size: 16px;
    /* Adjust font size for smaller screens */
  }
}

